.content {
  margin: 0 10%;
}

.center-form {
  margin: 50px auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.center-form h1 {
  margin: 0 0 30px;
}

.form-group a {
  margin: 10px 0;
}

#public-recipes-page a {
  text-decoration: none;
  color: black;
}
