<div id="header">
<li class = "nav-items">
<%= button_to "Public Recipes", public_recipes_path, class: 'btn btn-success', method: :get %>
</li>
<li class = "nav-items">
 <%= button_to "Foods", foods_path, class: 'btn btn-success', method: :get %>
 </li>
 <li class = "nav-items">
 <%= button_to "My Recipes", recipes_path, class: 'btn btn-success', method: :get %>
 </li>
</div>
